.header{
    &__top {
        @include flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 12px 32px 8px;
        background-color: #FFFFFF;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    }
    &__back{
        display: flex;
        gap: 8px;
        &-img{
            @include size(1.5rem, 1.5rem);
            img{
                @include size(100%, 100%);
            }
        }
    }
    &__link-activity{
        color: #505050;
        &:hover {
            color: #505050;
            text-decoration: none;
        }
    }
    &__logo {
        margin-top: 1px;
        font-size: 1.125rem;
        span {
            font-weight: 500;
        }
    }
    &__info {
        ul{
            @include flex;
            gap: 2rem;
            list-style-type: none;
        }
    }
    &__item {
        
        a{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            color: #505050;
            &:hover{
                text-decoration: none;
                color: #505050;
            }
        }

    }
    &__img {
        @include size(24px, 24px);
        img {
            @include size(100%, 100%);
        }
    }

    &__bottom {
        padding: 0 32px;
        background-color: #FAFAFA;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    }
    &__nav {
        @include flex;
        flex-wrap: wrap;
        ul {
            margin-bottom: 0;
            display: flex;
            list-style-type: none;
        }
        &-item {
            height: 40px;
            span {
                margin-left: 28px;
            }
            &_active{
                background-color: #F1F1F1;
            }

        }
        &-right {
            .header__nav-item {
                &:last-child {
                    @include size(68px, 40px);
                    padding: 0px 8px 0px 8px;
                }
            }
        }
        &-activity {
            background: url('./../icons/menu.svg') 16px center/20px 20px no-repeat;
        }
        &-map {
            background: url('./../icons/map.svg') 16px center/20px 20px no-repeat;
        }
        &-time {
            background: url('./../icons/time.svg') 16px center/20px 20px no-repeat;
        }
        &-notes {
            background: url('./../icons/notes.svg') 16px center/20px 20px no-repeat;
        }
        &-friends {
            background: url('./../icons/friends.svg') 16px center/20px 20px no-repeat;
        }
        &-photos {
            background: url('./../icons/photos.svg') 16px center/20px 20px no-repeat;
        }
        &-settings {
            display: inline-block;
            @include size(100%, 100%);
            background-image: url('./../icons/settings.svg'), url('./../icons/arrow-down.svg');
            background-position: 8px center, 36px center;
            background-size: 20px 20px, 8.4px 5.3px; 
            background-repeat: no-repeat;
        }
        
        &-link {
            display: inline-block;
            @include size(100%, 100%);
            padding: 0px 16px 0px 16px;
            color: #505050;
            line-height: 40px;
            font-size: 14px;
            &:hover{
                background-color: #F1F1F1;
                color: #505050;
                text-decoration: none;
            }
        }
    }

}