@media(max-width: 410px){
    .header{
        &__top, &__bottom{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
}
// @media(max-width: 496px){
//     .header{
//         &__top{
//         justify-content: center;
//         }
//         &__nav ul {
//             flex-wrap: wrap;
//             justify-content: center;
//         }
//     }
// }
